/* ====================================
 * Navigation
 * ==================================== */

.navbar {
    background: white;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    padding: 10px;
    z-index: 1;
    @include clearfix;
}

.navbar-logo {
    width: 20%;
    padding: 1em;
    margin-left: 5rem;

}

.navbar-items {
    margin-left: auto;
    ul {
        list-style: none;
        margin-top: 1rem;
        margin-right: 5rem;
        cursor: pointer;
        li {
            display: inline;
            padding: 10px;
            border-radius: 5px;
            color: gray;
            text-transform: uppercase;

        }
        li:hover {
            background: silver;
            color: white;
        }
    }
}

@media only screen and (max-width: $mobile-width) {
    .navbar {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;
        padding: 10px;
        z-index: 1;
        @include clearfix;
    }
    .navbar-logo  {
        width: 70%;
        margin-left: 0;
    }
    .navbar-items {
    	margin-top: 10px;
        ul {
        	display:flex;
            padding-left: 0;
            margin-right: 0rem;

        }
        margin-left: 0;
    }
}